@import "../../styles/responsive.scss";

.chartBox {
  display: flex;
  height: 100%;

  @include sm{
    flex-direction: column;
  }

  .boxInfo {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include sm{
      gap: 20px;
    }
  }}